@use '../scss/custom' as *;

#maxheight {

    @media screen and (max-width: 768px){
        display: flex;
        justify-content: flex-start;
    }
};

#image{
   
    @include media-breakpoint-down(lg){
        width: 100%;
        height: 100%;
       translate: none;
    }
}